.sidebar {
  min-height: 100vh;
  border-right: 1px solid #dee2e6;
  padding-top: 1rem;
}

.content-area {
  padding: 2rem;
}

.filtros-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .sidebar {
    border-right: none;
    border-bottom: 1px solid #dee2e6;
  }

  .filtros-box {
    justify-content: center;
  }
}
